@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.About-main{
    margin-top:-30px
}

.breadcromb-top {
    background: rgba(0, 0, 0, 0) url("../images/breadcromb_bg.jpg") repeat scroll 0 0;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    position: relative;
    margin-top:110px;
}

.breadcromb-top:before {
    background: rgba(0, 0, 0, 0.54) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.breadcromb-h2 {
    font-size: 35px;
    text-transform: capitalize;
    position: relative;
    color: #fff;
    font-weight: 400;
}

#Breadcromb-bott{
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
}

.Arrow{
    font-size: 13px;
}

.Clear{
    margin-bottom: 100px;
}

.Breadcromb-bott:hover{
    color: #f26723;
}

.Breadcromb-about{
    color: #f26723;
    font-size: 13px;
}

.breadcromb-bottom{
    background: #f6f8fa none repeat scroll 0 0;
    padding: 2px 0;
    padding-left: 70px;
}

.breadcromb-bottom-text li {
    color: #f26723;
    display: inline-block;
    font-weight: 500;
    margin: 0 5px;
    text-transform: capitalize;
}

.breadcromb-bottom-text a {
    color: #555;
    font-weight: 500;
    text-transform: capitalize;
}

.breadcromb-bottom-text a:hover{
    color: #f26723;
}

.falconet-about{
    width:100%;
    margin-top: 80px;
}

.Fal-h2{
    font-family: JosefinSans;
    font-size: 25px;
    margin-top: -20px;
    padding-bottom: 20px;
}

#Clear{
    clear: both;
    padding-top: 50px;
}

.about-right {
    margin: 30px;
    margin-top: 15px;
    margin-left: 100px;
    width:40%;
    float:left;
    padding-top: 25px;
    padding-left:40px
}

.About-h2 {
    color: #333;
    font-size: 15px;
    line-height: 20px;
    
    text-align: justify;
    font-family: JosefinSans;
    font-weight: 500;
    margin-top: -10px;
}

.about-right > p {
    margin: 0 0 10px;
}
.about-left {
    background: #154360 none repeat scroll 0 0;
    border: 4px solid #154360;
    padding: 5px;
    position: relative;
    margin: 10px;
    margin-top:30px;
    margin-left:80px;
    width:40%;
    float:left;
    height: 280px;
}

.Abt-img{
    width:100%;
    height: 250px;
}

.about-left:before {
    border-color: #154360 transparent;
    border-style: solid;
    border-width: 90px 90px 0 0;
    content: "";
    left: -10px;
    position: absolute;
    top: -10px;
}

.about-left:after {
    border-color: #154360 transparent;
    border-style: solid;
    border-width: 0 0 90px 90px;
    bottom: -10px;
    content: "";
    position: absolute;
    right: -10px;
}

.falcon-btn{
    background-color:#f26723;
    color:white;
    text-decoration: none;
    padding:5px 10px 7px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.statement{
    float: left;
    width: 40%;
    padding-left:60px;
    padding-top: 25px;
    margin-top: 80px;
}

.Abtimg{
    margin-left: 60px;
    height: 320px;
}

.img-right{
    float: left;
    width: 40%;
    background: #154360 none repeat scroll 0 0;
    border: 4px solid #154360;
    padding: 5px;
    position: relative;
    margin: 10px;
    margin-top:100px;
    margin-left:200px;
    float:left;
    height: 340px;
}

.stat-h2{
    padding-bottom: 20px;
    font-family: JosefinSans;
    font-size: 25px;
}

.stat-pa{
    color: #333;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    text-align: justify;
    font-family: JosefinSans;
    font-weight: 500;
}










@media (max-width: 768px){
    .about-left{
        width:90%;
        margin-left: 30px;
    }

    .about-right{
        width:90%;
        margin-left: 10px;
    }

    .statement{
        width: 90%;
        padding: 20px;
        margin-left: 20px;
    }

    .img-right{
        width: 90%;
        margin-left: 30px;
    }

    
    

   
}

@media (max-width: 420px){
    .breadcromb-top {
        width: 100%;
        height:20px;
        background-size: 50px;
    }

    .breadcromb-top:before{
        width:100%;
    }
    
    .breadcromb-h2{
        margin-top: -1px;
        font-size: 15px;
        position: relative;
    }    

    #Clear{
        clear: both;
        margin-top: 500px;
    }

    .Fal-h2{
        text-align: center;
    }

    .about-right{
        width:90%;
        float: left;
        height: 262px;
        padding: 20px;
        margin-left: 20px;
    }

    .Abt-img{
        width:100%;
        height: 200px;   
    }

    .about-left{
        width:80%;
        margin-left: 30px;
        height: 200px;      
    }

    .statement{
        width: 90%;
        padding: 20px;
    }

    .img-right{
        width: 80%;
        margin-left: 45px;
        height: 230px;
    }

    .Abtimg{
        width: 100%;
        height:200px;
        margin-left: 10px;
    }

    
    
}