.Back-ground{
    background: #222 none repeat scroll 0 0;
    border: #f7f7f7 solid 20px;
    height: 650px;
    margin-top: -100px;
}

.Back-left{
    float:left;
    position: relative;
    width: 40%;
    margin-left: 5px;
}

.Back-right{
    float:left;
    margin-top: 50px;
    width: 40%;
    margin-left: 100px;
}

.Bimage{
    height:500px;
    width: 500px;
    margin-top: 10px;
}

.span-back{
    color: #f26723;
    text-decoration: underline;
    font-family: JosefinSans;
}

.para-back{
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 5px;
    width: 100%;
    color: white;
    font-family: JosefinSans;
    line-height: 25px;
}

.para-h2{
    padding: 20px;
    padding-top: 5px;
    font-size: 30px;
    color: white;
    font-family: JosefinSans;
}

.para-h4{
    padding: 20px;    
    padding-bottom: 0px;
    color: white;
}

.main-back{
    margin-left: 80px;
    margin-top: 50px;
}

.But-con{
    font-size:11px;
    font-weight: 700;
    border-radius:5px;
    height:5px;
    width:150px;
    margin:5px;
    color:white;
    background-color:#f26723;
    border:solid #f26723 2px;
    padding-top:15px;
    padding-bottom: 33px;
    text-align:center;
    text-transform:uppercase;
    text-decoration:none;
    letter-spacing:2px;
    font-family:monospace;
    float:left;
    margin-left: -170px;
}

.But-con:hover{
    background-color: transparent;
    color: beige;
}

@media (max-width: 768px){
    .Back-ground{
        height: 1100px;
    }

    .Back-right{
        width:80%;
        margin-left: 30px;
    }

    .Back-left{
        margin-left: 140px;
    }

    .main-back{
        margin-top: 10px;
    }

    .Bimage{
        margin-top: 30px;
    }

    .But-con{
        padding-bottom: 33px;
        margin-left: 25px;
        width: 100%;
    }
}

@media (max-width: 420px){
    .Back-ground{
        height: 900px;
    }

    .Back-right{
        margin-left: -35px;
    }

    .Back-left{
        width:100%
    }

    .Bimage{
        height: 250px;
        width: 250px;
        margin-left: -70px;
    }

    .Back-right{
        width:100%;
        clear: both;
    }

    .para-h4{
        font-size: 12px;
        text-align: center;
        padding-left:5px
    }

    .para-h2{
        font-size: 20px;
        margin-top: -20px;
        text-align: center;
        padding-left:5px
    }

    .para-back{
        text-align: center;
        padding-left: 5px;
        padding-right: 20px;
        width:100%
    }

    .But-con{
        padding-bottom: 33px;
        margin-left: 10px;
        width:80%
    }
}

