.Falconet-map{
    height:1200px
}

.falconet-breadcromb-map{
    margin-bottom: 100px;    
}

.breadcromb-top {
    background: rgba(0, 0, 0, 0) url("../images/breadcromb_bg.jpg") repeat scroll 0 0;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    position: relative;
    margin-top:110px;
}

.breadcromb-top:before {
    background: rgba(0, 0, 0, 0.54) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.breadcromb-h2 {
    font-size: 35px;
    text-transform: capitalize;
    position: relative;
    color: #fff;
    font-weight: 400;
}

#Breadcromb-bott{
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
}

.Arrow{
    font-size: 13px;
}

.Clear{
    margin-bottom: 100px;
}

.Breadcromb-bott:hover{
    color: #f26723;
}

.Breadcromb-about{
    color: #f26723;
    font-size: 13px;
}

.breadcromb-bottom{
    background: #f6f8fa none repeat scroll 0 0;
    padding: 2px 0;
    padding-left: 70px;
}

.breadcromb-bottom-text li {
    color: #f26723;
    display: inline-block;
    font-weight: 500;
    margin: 0 5px;
    text-transform: capitalize;
}

.breadcromb-bottom-text a {
    color: #555;
    font-weight: 500;
    text-transform: capitalize;
}

.breadcromb-bottom-text a:hover{
    color: #f26723;
}

.Map{
    clear: both;
    width: 90%;
    margin-top: 350px;
}

.Real-map{
    width: 100%;
    height: 500px;
    border-right: black solid 1px;
    border-bottom: black solid 1px;
    margin-left: 150px;
}

.Main-con{
    clear: both;
}

.Contact-info{
    clear: both;
    margin-top: 200px;
}

.con1{
    width:20%;
    float: left;
    margin-left: 150px;
}

.con2{
    width:20%;
    float: left;
    margin-left: 150px;
}

.con3{
    width:20%;
    float: left;
    margin-left: 150px;
}

.div-con1{
    width:30%;
    float: left;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
}

.div-con2{
    width: 50%;
    float: left;
    margin-left: 10px;
}

.icontact{
    width: 100%;
    height: 50%;
    padding: 20px;
    color: #f26723;
}


@media (max-width: 768px){
    .Falconet-map{
        height:1200px
    }

    .Real-map{
        width: 100%;
        height: 300px;
        border-right: black solid 1px;
        border-bottom: black solid 1px;
    }

    .Map{
        width: 100%;
        margin-left: -75px;
        margin-top: 600px;
        clear: both;
    }

    .con1{
        width:80%;
        float: left;
        margin-left: 40px;
        margin-top: -20px;
        
    }
    
    .con2{
        width:80%;
        float: left;
        margin-left: 40px;
        margin-top: 20px;
        
    }
    
    .con3{
        width:80%;
        float: left;
        margin-left: 40px;
        margin-top: 20px;
        
    }

    .div-con1{
        width: 20%;
        margin-left: 45px;
        margin-top: 5px;
    }

    .div-con2{
        margin-top: 40px;
        margin-left: 50px
    }

    .par-con{
        margin-top: -10px;
    }
}


@media (max-width: 420px){
    .Falconet-map{
        height:1000px
    }

    .Real-map{
        width: 100%;
        height: 300px;
        border-right: black solid 1px;
        border-bottom: black solid 1px;
    }

    .Map{
        width: 100%;
        margin-left: -75px;
        margin-top: 400px;
        clear: both;
    }

    .con1{
        width:80%;
        float: left;
        margin-left: 40px;
        margin-top: -20px;
        
    }
    
    .con2{
        width:80%;
        float: left;
        margin-left: 40px;
        margin-top: 20px;
        
    }
    
    .con3{
        width:80%;
        float: left;
        margin-left: 40px;
        margin-top: 20px;
        
    }

    .div-con1{
        width: 20%;
        margin-left: 25px;
        margin-top: 5px;
    }

    .div-con2{
        margin-top: 5px;
    }

    .par-con{
        margin-top: -10px;
    }
}