.def-div{
    align-items:center;
    justify-content:center;
    background-color:#f4f4f4;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0;
}

.parag-tag{
    text-align: center;
}