.Det-button1{
    background-color: transparent;
    border: #f26723 solid 2px;
    text-decoration: none;
    padding: 20px;
    color: black;
    font-size: 15px;
    float: left;
}

.Det-button1:hover{
    color: white;
    text-decoration: none;
    background-color: #f26723;
    border: #f26723 solid 2px;
}

.Det-button2{
    background-color: #f26723;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 15px;
    float: left;
    border: #f26723 solid 2px;
    margin-left: 40px;
}

.Det-button2:hover{
    color: #f26723;
    text-decoration: none;
    border: #f26723 solid 2px;
    background-color: transparent;
}

p.text-muted.lead{
    text-transform: none;
}