.falconet-footer-area{
    width:100%;
    background: #222 none repeat scroll 0 0;
    height:150px;
    margin-top: -100px;
}

.Footer-logo{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    margin-left:15px
}

.Last-footer{
    text-decoration: none;
    font-size: 12px;
    color: #f26723;
    padding-right: -10px;
}

.Last-footer:hover{
    color: rgb(238, 207, 207);
}

.li-foot{
    font-size:12px;
    color:#636c72;
    
}

.li-footer{
    color:#636c72;
    margin-left: 65px;
}

.Footer4{
    float:right
}

.List{
    line-height: 20px;
    margin-top: 10px;
    list-style-type: none;
    margin-right: 20px;   
}

#Contact{
    font-size: 14px;
    font-weight:800;
    color: #fff;
    text-align: right;
    padding-top: 10px;
    padding-right:20px
}
  
#Single-footer1{
    float:left;
    width:20%;
    margin-top: 40px;
    margin-left: 90px;
}

#Single-footer2{
    float:left;
    width:20%;
    margin-left: 20px;
}

#Single-footer3{
    float:left;
    width:20%;
    margin-left: 20px;
}

#Single-footer4{
    float:left;
    width:20%;
    margin-left: 20px;
}

.para-foot{
    text-align: justify;
    font-size: 13px;
    line-height: 22px;
}

.footer-top-area {
    background: #222 none repeat scroll 0 0;
    color: #636c72
}

.footer-logo {
    margin-bottom: 15px;
    padding-right: -100px;
}

.single-footer-widget > h3 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 15px
}

.single-footer-widget {
    margin-top: 15px;
}

.single-footer-widget.footer-logo-widget {
    margin-top: 0;
}

.latest-post-footer-left {
    background: #303030 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}

.latest-post-footer-right {
    overflow: hidden;
    line-height: 1px;
}

.latest-post-footer {
    margin-bottom: 20px;
}
.latest-post-footer:last-child{
    margin-bottom: 0
}

.latest-post-footer-right > h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 1px;
    text-transform: capitalize;
    color: #787f84
}

.latest-post-footer {
    margin-top: 20px;
}

.B-link:hover{
    color: #eee
}

.latest-post-footer-right > p {
    color: #eee;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
}

.List-m{
    padding-left: 5px;
}

.Links{
    margin-bottom: 5px;
    text-decoration: none;
    color: #7f7f7f;
    font-weight: 100;
    padding-left: 1px;
}

.B-link{
    text-decoration: none;
    color: #7f7f7f;
    font-weight: normal;
}

ul{
    line-height: 30px;
}

.single-footer-widget li a:hover{
    color:#eee
}
.single-footer-widget > form {
    background: #333 none repeat scroll 0 0;
    height: 35px;
    margin-top: 10px;
    position: relative;
}
.footer-widget-text{
    text-align:justify;
}

.single-footer-widget input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    padding-left:10px;
    height: 100%;
    left: 0;
    color: #eee;
    width: 80%;
}

.single-footer-widget button {
    background: #f26723 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s
}
.single-footer-widget button:hover{
    background: #464646 none repeat scroll 0 0
}

.copyright-right{
    margin-top:-15px
}

.latest-post-footer-right{
    margin-top: -10px;
}

.test-link{
    color:white;
    text-decoration: none;
    
}

.test-link:hover{
    color: white;
}

.h5-foot{
    color:#f26723;
    text-transform: uppercase;
}

.Sub-list{
    color:white;
    font-size: 12px;
    margin-left: -35px;
}

.Sub-list3{
    color:white;
    font-size: 12px;
    margin-left: -38px;
}

.Soc-list{
    color:white;
    margin: 5px;
}

#Soc-list{
    margin-left: -1px;
}

.Footer1{
    float: left;
    margin-right: 30px;
}

.Footer2{
    float: left;
    margin-top: 30px;
    margin-left: 300px;
}

.Footer3{
    float: left;
    margin-top: 30px;
    margin-left: 300px;
}

.Footer4{
    float: right;
    margin-top: 30px;
    margin-right: 80px;
}

.Copyright-area{
    background: #171717 none repeat scroll 0 0;
    border-top: 1px solid #2b2b2b;
    color: #7f7f7f;
    padding: 25px 0;
    text-align: center;
    clear: both;
    height: 10px;
    margin-top: 0px;
}

.foot-link{
    color: #ff7f41;
    text-decoration: none;
}

#para-footer{
    margin-top: -4px;
}

.clear-foot{
    margin-top: 30px;
}




@media (max-width: 768px){
    .falconet-footer-area{
        clear: both;
        height: 200px;
    }

    .Footer-logo{
        width:40px;
        height: 20px;
        float: left;
        margin-left: 40px;
    }

    #para-footer{
        padding-top: 2px;
        font-size: 13px;
    }

    .Footer2{
        float: left;
        margin-top: 40px;
        margin-left: 80px;
    }

    .Footer3{
        float: left;
        margin-top: 40px;
        margin-left: 100px;
    }

    .Footer4{
        float: left;
        margin-top: 40px;
        margin-left: 50px;
    }
}


@media (max-width: 420px){
    .falconet-footer-area{
        clear: both;
        height: 250px;
    }

    #falconet-footer-area{
        margin-top: -130px;
    }

    .footer-top-area{
        height:850px
    }

    .latest-post-footer{
        margin-top:10px
    }

    .Links{
        padding-left: 1px;
    }

    .B-link{
        font-size: 12px;
    }

    .Copyright-area{
        clear: both;
        height: 40px;
        margin-top: -5px;
    }

    #para-last{
        padding-top: -3px;
        font-size: 13px;
    }

    .Footer2{
        float: left;
        margin-top: 30px;
        margin-left: 120px;
    }

    .Footer3{
        float: left;
        margin-top: 20px;
        margin-left: 250px;
    }

    .Footer4{
        float: left;
        margin-top: -100px;
        margin-left: 40px;
    }

    .Footer-logo{
        width:40px;
        height: 20px;
        float: left;
    }
}
