#fixed{
  top:0;
  left:0;
  width:100%;
  position:fixed;
  z-index:10000;
  background-color: #154360;
  height: 80px;
}

.Site-logo{
  width:250px;
  height:50px;
  margin-top: -5px;
}

#nav-soc{
  margin-left: 15%;
}

.navbar-container {
  display: flex;
  margin-right: -100px;
}

.wat-icon, .twi-icon, .ins-icon{
  color: white;
  font-size: 25px
}

.Log{
  color: #f26723;
  font-size: 30px;
  margin-top: -2px;
}

.navbar-logo {
  color: #f26723;
  margin-top: -25px;
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: gabriola;
  font-size: 35px;
  font-style: italic;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
  margin-top: 20px;
  
}

#Navbar{
  float:left;
  margin-left: 10%;
  display: flex;
  grid-gap:20px
}

.soc-icons{
  margin-top: 25px;
  display: flex;
  margin-right: 50px;
  float: right;
  grid-gap: 10px;
}

a.whatsapp {
  color:white;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
  
a.facebook {
  color: white;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
 
a.twitter {
  color: white;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}

a.linkedin {
  color: white;
  font-size: 13px;
  font-weight: 700;
  position: relative;
}
 
a.instagram {
  color: white;
  font-size: 13px;
  font-weight: 700;
  position: absolute;
}

.users{
  display: flex;
  grid-gap:10px;
  margin-right: 200px;
  margin-top: 25px;
}

.login{
  text-decoration: none;
  color:white;
}

.login:hover{
  color:white;
  text-decoration: none;
}

.logy{
  margin-right: 10px;
}

.signup{
  background-color: #f26723;
  color:white;
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  padding: 15px;
  border: #f26723 solid 2px;
}

.signup:hover{
  color:white;
  background-color:transparent;
  border: #f26723 solid 2px;
  text-decoration: none;
}

.reg{
  width: 100px;
}

.cart{
  color:white;
  margin-top: 100px;
}

.cart:hover{
  color:white;
  
}


.Cart-counter{
  float: right;
  color: white;
  margin-right: -10px;
  margin-top: -15px;
  
}

.nav-links {
  color:#fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: -15px;
  height: 90%;
  font-size: 14px;
  font-weight: 400;
}

.nav-links:hover {
  border-bottom: 4px solid #f26723;
  transition: all 0.2s ease-out;
  color:white;
  text-decoration: none;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

#Link5, #Link6{
  display:none
}



@media screen and (max-width: 768px){
  .NavbarItems {
    position: relative;
  }

  .Site-logo{
    width:150px;
    height: 50px;
    margin-top: 5px;
  }

  .soc-icons, .login{
    display:none
  }

  .cart{
    display: block;
    position: absolute;
    margin-top: 7px;
    right: 0;
    transform: translate(-500%, -20%);
    font-size: 1.8rem;
    cursor: pointer;
    color:white;
  }

  .wat-icon, .twi-icon, .ins-icon{
    display: none;
  }

  #cart{
    padding-top: 5px;
    font-size: 20px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  #Link1{
    margin-top: 10px;
    margin-left: 30px;
    text-align: left;
    width:20%;
    height: 10px;
  }

  #Link2{
    margin-top:-60px;
    margin-left: 30px;
    text-align: left;
    width:20%;
    height: 10px;
  }

  #Link3{
    margin-top:-130px;
    margin-left: 30px;
    text-align: left;
    width:100%;
    height: 10px;
  }

  #Link4{
    margin-top:-200px;
    margin-left: 30px;
    text-align: left;
    width:20%;
    height: 10px;
  }
  
  #Navitems{
    margin-top: -250px;
    margin-left: 30px;
    text-align: left;
    width:20%;
  }

  #Navitems2{
    margin-top: -50px;
    margin-left: 30px;
    margin-bottom: 80px;
    text-align: left;
    width:20%;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    width:100%;
    height: 900px;
  }
  

  .nav-links {
    text-align: center;
    width: 70%;
    display: table;
    
  }

  .navbar-logo {
    position: absolute;
    margin-top: -15px;
    margin-left: 5px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    margin-top: 7px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color:white
  }

  #Link5, #Link6{
    display:contents
  }

  .signup{
    display:none
  }
}






@media screen and (max-width: 420px) {
  #fixed{
    width:100%
  }

  .NavbarItems {
    position: relative;
  }

  .Site-logo{
    width:150px;
    height: 50px;
    margin-top: 5px;
  }

  .wat-icon, .twi-icon, .ins-icon{
    display: none;
  }

  .soc-icons, .login{
    display:none
  }

  .cart{
    /*margin-right: -170px;*/
    display: block;
    position: absolute;
    margin-top: 7px;
    right: 0;
    transform: translate(-500%, -20%);
    font-size: 1.8rem;
    color:white;
  }

  ul.nav-menu.active#Navbar{
    margin-left: 0px;
  }

  #cart{
    padding-top: 5px;
    font-size: 20px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }


  #Link1{
    margin-top:-55px;
    margin-left: 30px;
    text-align: left;
    width:20%;
    height: 10px;
  }

  #Link2{
    margin-top:-115px;
    margin-left: 30px;
    text-align: left;
    width:20%;
    height: 10px;
  }

  #Link3{
    margin-top:-180px;
    margin-left: 30px;
    text-align: left;
    width:100%;
    height: 10px;
  }

    #Link4{
    margin-top:-245px;
    margin-left: 30px;
    text-align: left;
    width:20%;
    height: 10px;
  }

  #Navitems{
    margin-top: -310px;
    margin-left: 30px;
    text-align: left;
    width:20%;
  }

  #Navitems2{
    margin-top: -50px;
    margin-left: 30px;
    margin-bottom: 60px;
    text-align: left;
    width:20%;
  }

  #Link5, Link6{
    display: contents;
  }

  #Link1, #Link2, #Link3, #Link4:hover{
    color:white;
    border:none;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease; 
    height: 900px;
  }

  .nav-links {
    text-align: center;
    width: 70%;
    display: table;
    
  }

  .nav-links:hover {
    color: #f26723;
    height: 30px;
    border-bottom: none;
    transition: none;
  }

  .navbar-logo {
    position: absolute;
    margin-top: -15px;
    margin-left: 5px;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    margin-top: 7px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color:white
  }

  .signup{
    display:none
  }

  /*.nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: black;
    color: #242424;
    transition: 250ms;
  }*/
}


/*.header {
  display: flex;
  background-color:black;
  align-items: center;
  padding: 0px 40px;
  height: 110px;
  border-top:3px solid #f26723;
}

#fixed{
  top:0;
  left:0;
  width:100%;
  position:fixed;
  z-index:10000;
}

.site-logo{
  width: 210px;
  height: 50px;
  float: left;
}

.header-right{
  float:right;
  width:70%;
  margin-left: 120px;
  margin-top: -85px;
}

.header-right-overlay{
  background-color: #f26723;
  width:100%;
  height: 58px;
}

.header-right-overlay:before {
  border-color: #f26723 transparent;
  border-style: solid;
  border-width: 51px 0 0 45px;
  content: "";
  left: 50px;
  position: absolute;
  top: 0;
  width: 2%;
  margin-left:250px;
  margin-top: -6px;
  height: 70px;
}

.header-right-overlay li{
  display: inline-block;
  margin: 0 5px;
  margin-right:10px
}

.single-top-p{
  font-size: 13px;
  color:white;
  padding-top: 20px;
}

.P-link{
  font-size: 13px;
  color:white;
  text-decoration: none;
}

.soc-icons{
  float:right;
  margin-top: -35px;
  margin-right: 450px;
}

a.whatsapp {
  color:white;
  font-size: 13px;
  font-weight: 700;
}
  
a.facebook {
  color: white;
  font-size: 13px;
  font-weight: 700;
}
 
a.twitter {
  color: white;
  font-size: 13px;
  font-weight: 700;
}

a.linkedin {
  color: white;
  font-size: 13px;
  font-weight: 700;
}
 
a.instagram {
  color: white;
  font-size: 13px;
  font-weight: 700;
}

#single-top1{
  float:right;
  margin-top: -45px;
  margin-right: 250px;
  color:white
}

.Link-top{
  font-size: 13px;
  color:white;
  text-decoration: none;
}

.Link-top1{
  font-size: 13px;
  color:white;
  text-decoration: none;
}

#single-top2{
  float:right;
  margin-top: -45px;
  margin-right: 130px;
}

.Link-top2{
  font-size: 13px;
  color:white;
  text-decoration: none;
}

#Navbar{
  list-style-type: none;
  display:flex;
  float:right;
  margin-top:90px;
  margin-right:100px;
}

#nav1{
  padding-right:20px;
}

#nav2{
  padding-right:20px;
  width: 65px;
}

#nav3{
  padding-right:20px
}

#nav4{
  padding-right:20px
}

#nav5{
  padding-right:20px
}

#nav6{
  padding-right:20px
}

#nav7{
  padding-right:430px
}

#Link{
  font-weight: 600;
}

.Links{
  font-size: 13px;
  
}

.Links:hover{
  color:#f26723;
}

.div-nav{
  position: absolute;
  margin-top: -30px;
  width: 100%;
}

.search{
  float: right;
  margin-left: 1100px;
  position: absolute;
  color:rgb(155, 154, 154);
  margin-top: 50px;
}

#single-top-res1{
  display:none
}

#single-top-res2{
  display:none
}

.Overlay-res{
  display: none;
}

.menu-icon{
  display: none;
}



@media (max-width: 648px) {
  
  .header {
    width:100%;
  }

  .site-logo{
    width:150px;
    height:40px;
    margin-top: 15px;
    margin-left: 30px;
  }

  .menu-icon {
    color:white;
    display: block;
    width: 40px;
    height: 35px;
    position: absolute;
    top: 50px;
    margin-left:2px; 
    cursor: pointer;
  }

  .header-right-overlay{
    display:none
  }

  .soc-icons{
    display: none;
  }

  .header-right-overlay:before{
    display:none;
  }

  .single-top-p{
    display:none
  }

  #single-top1{
    display: none; 
  }

  #single-top2{
    display: none; 
  }

  .Overlay-res{
    display: contents;
    background-color: #f26723;
    display: block;
    width:440px;
    height: 40px;
    margin-left:-340px;
    margin-top: 15px;
  }

  #single-top-res1{
    display:contents;
    color:white;
    
  }

  #single-top-res2{
    display:contents
  }

  #Link-top{
    padding-left: 20px;
    padding-bottom: 20px;
    
  }

  #Link-top2{
    float: right;
    padding-right: 50px;
    padding-top: 5px;
  }

  .under-over{
    padding-top: 5px;
  }
  

}*/



/*
.header {
  display: flex;
  background-color:black;
  align-items: center;
  padding: 0px 40px;
  height: 110px;
  border-top:3px solid #f26723;
}

.logo-nav {
  display: flex;
  align-items: center;
  margin-right:50px;
  justify-content: space-evenly;
 }

.P-link{
  text-decoration: none;
  color:white;
  
}

.div1{
  display:inline-flex
}

.single-top-p{
  font-size: 13px;
  color:white;
  padding-top: 20px;
}

a.whatsapp {
  color:white;
  font-size: 13px;
  font-weight: 700;
}
  
a.facebook {
  color:white;
  font-size: 13px;
  font-weight: 700;
}
 
a.twitter {
  color:white;
  font-size: 13px;
  font-weight: 700;
}

a.linkedin {
  color:white;
  font-size: 13px;
  font-weight: 700;
}
 
a.instagram {
  color:white;
  font-size: 13px;
  font-weight: 700;
}

.single-top-right li {
  display: inline-block;
  margin: 0 5px;
  margin-right:10px
}

.single-top-right {
  color: #fff;
  margin-top: 11px;
  float:right;
}

.Link-top{
  text-decoration: none;
  color:white;
  font-size:13px
}

.Link-icon{
  margin-top:5px;
}

#single-top-right1{
  float:left;
  margin-top:5px;
}

.single-top{
  float:right;
  margin-top: -37px;
  margin-right: -250px;
  color:white;
}

#single-top-right{
  float:left;
  margin-top: -58px;
  margin-left: 250px;
  color:white;
}

.single-top2{
  float:right;
  margin-top: -37px;
  margin-right: -350px;
  color:white;
}

.header-right-top {
  position: relative;
  display: inline-block;
}

.site-logo img {
  width: 210px;
  height: 50px;
}

.site-logo {
  display: inline-block;
  margin: 24px 0;
  margin-top:30px;
  margin-left: 30px;
}

.header-right-overlay1 {
  background:#f26723 none repeat scroll 0 0;
  height: 58px;
  position: absolute;
  right: 0;
  width: 70%;
  margin-top:-70px;  
}

.header-right-overlay1:before {
  border-color: #f26723 transparent;
  border-style: solid;
  border-width: 51px 0 0 45px;
  content: "";
  left: -310px;
  position: absolute;
  top: 0;
  width: 2%;
  margin-left:250px;
  margin-top: 7px;
}

.nav-options {
  list-style-type: none;
  display:contents;
}

#fixed{
  top:0;
  left:0;
  width:100%;
  position:fixed;
  z-index:10000;
}

.mobile-top-menu {
  background: #f26723 none repeat scroll 0 0;
  color: #fff;
  padding: 15px 0;
}

#Navbar{
  display:flex;
  float:right;
  margin-top:-70px;
  margin-right:-700px;
}

.search{
  float: right;
  margin-right: -800px;
  margin-top: -60px;
  color:rgb(155, 154, 154);
}

#Link1{
  margin-right: -30px;
  font-size: 13px;
  font-weight: 600;
}

#Link2{
  margin-right: -10px;
  font-size: 13px;
  font-weight: 600;
}

#Link3{
  margin-right: -25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

#Link4{
  margin-right: -30px;
  font-size: 13px;
  font-weight: 600;
}

#Link5{
  margin-right: -30px;
  font-size: 13px;
  font-weight: 600;
}

#Link6{
  margin-right: -30px;
  font-size: 13px;
  font-weight: 600;
}

#Link7{
  margin-right: 50px;
  font-size: 13px;
  font-weight: 600;
}

#Links{
  
  text-decoration: none;
  padding-right:10px;
  padding-left:10px;
  padding-bottom: 28px;
}

.Links:hover{
  color:#f26723;
}

#nav1{
  padding-right:40px;
}

#nav2{
  padding-right:15px;
  width:65px
}

#nav3{
  padding-right:40px
}

#nav4{
  padding-right:40px
}

#nav5{
  padding-right:40px
}

#nav6{
  padding-right:40px
}

#nav7{
  padding-right:40px
}

.header-right-top{
  margin-top: -13px;
}

.single-top-res{
  display:none
}

.single-top2-res{
  display: none;
}

.Link-top-res{
  display:none
}

.Link-top2{
  color:white;
  text-decoration: none;
  font-size: 13px;
}

.Link-top1{
  color:#fff;
  text-decoration: none;
  font-size: 13px;
}

.menu-icon{
  display: none;
}



@media (max-width: 648px) {
  
  .header {
    width:100%;
  }

  .menu-icon {
    color:white;
    display: block;
    width: 40px;
    height: 35px;
    position: absolute;
    top: 50px;
    margin-left:2px; 
    cursor: pointer;
  }

  .site-logo{
    width:40px;
    height:15px;
    margin-top: 30px;
  }

  .single-top-right{
    display:none;
  }

  .single-top2{
    float:right
  }

  .single-top{
    display:none
  }

  .single-top-res{
    display:contents
  }

  #single-top{
    width:100%
  }

  .Link-top{
    margin-left: 20px;
  }

  .Link-top2{
    float:right;
    margin-top: 22px;
    margin-right: 100px;
  }

  .single-top{
    display:contents;
    margin-bottom: 50px;
  }

  .single-top{
    display:contents;
    margin-top: -1050px;
  }

  .Clear{
    display: contents;
    clear:both;

  }

  .header-right-overlay1{
    width:100%;
    height: 30px;
    margin-top: -80px;
  }

  .header-right-overlay1:before{
    display:none;
  }

  .search{
    float: right;
    margin-right: -300px;
    margin-top: -60px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 195px;
    transform: translateX(1000px);
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: black;
    left: 0;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    height: 1000px;
    position: absolute;
  }
  
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  #Navbar{
    margin-top: -85px;
    width: 100%;
    border-top: white 1px solid;
  }

  #Link1{
    margin-left: -70px;
  }

  #Link2{
    margin-top:-125px;
    margin-left: 370px;
    width:65px
  }

  .Links{
    display:block;
    position: absolute;
  }

  #nav3{
    margin-top:-140px;
    margin-left: -95px;
  }

  #nav4{
    margin-top:-60px;
    margin-left: -80px;
  }

  #nav5{
    margin-top:-60px;
    margin-left: -75px;
  }

  #nav6{
    margin-top:-60px;
    margin-left: -70px;
  }

  #nav7{
    margin-top:-50px;
    margin-left: 13px;
  }

  #Link1{
    position: relative;
  }

  .dropdown-content{
    margin-left: 50px;
  }
  


}
*/
  




