.Shop{
    margin-top: -30px;
}

.breadcromb-top {
    background: rgba(0, 0, 0, 0) url("../images/breadcromb_bg.jpg") repeat scroll 0 0;
    color: #fff;
    padding: 70px 0;
    text-align: center;
    position: relative;
    
}

.breadcromb-top:before {
    background: rgba(0, 0, 0, 0.54) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#breadcromb-h2 {
    font-size: 35px;
    text-transform: capitalize;
    position: relative;
    color: #fff;
    font-weight: 400;
}

.Breadcromb-bott{
    font-size:15px;
    font-weight: lighter;
    text-decoration: none;
}

.Arrow{
    font-size: 13px;
}

.Breadcromb-bot:hover{
    color: #f26723;
}

.breadcromb-bottom{
    background: #f6f8fa none repeat scroll 0 0;
    padding: 2px 0;
    padding-left: 70px;
}
.breadcromb-bottom-text li {
    color: #f26723;
    display: inline-block;
    font-weight: 500;
    margin: 0 5px;
    text-transform: capitalize;
}
.breadcromb-bottom-text a {
    color: #555;
    font-weight: 500;
    text-transform: capitalize;
}
.breadcromb-bottom-text a:hover{
    color: #f26723;
}

/*.Description {
    background: #222 none repeat scroll 0 0;
    border-bottom: 3px solid #fff;
    padding: 20px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-top: -30px;
    height: 150px;
}*/

.Img-items{
    border:#f26723 solid 2px;
    height: 200px;
}

.Div-des{
    margin-top: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
    width:300px;
    margin-left: 100px;
    height: 300px;
}

.Cls{
    clear:both;
    margin-bottom: 500px;
}







/*.single-des{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
    width:320px
}

.prod-name{
    color:white;
    font-size: 15px;
    text-transform: capitalize;
    color: white;
    font-weight:400;
    
}

.Clear{
    clear:both;
    margin-bottom: 100px;
}*/