.prod-details{
    margin-top: 50px;
    margin-bottom: 50px;
}

#prodimg-div{
    float:left;
    width:50%;
    margin-bottom: 100px;
    
}

.prod-image{
    width:85%;
    height: 450px;
    margin-top: 100px;
    padding:50px
}

#prodimg-right{
    float:right;
    width:40%;
    margin-top: 100px;
}

#vert-line{
    margin-top: 120px;
}