.form-body{
    height: 750px;
    background-color:#f4f4f4;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0;
    
}

.form{
    margin-top: -50px;
    float:right;
    width:50%;
    margin-left:30px
}

.div-form{
    margin-top: 40px
}

.form-left{
    float:left
}

.form-left2{
    float:left;
    margin-top:-20px
}

.form-right{
    float:left;
    margin-left: 35px;
}

.clear-both{
    clear: both;
    margin-top: 20px;
}

.mail{
    clear: both;
    margin-top: 50px;
}

.confirm{
    clear: both;
    margin-top: 20px;
}

#name{
    width:100%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
}

#lastname{
    width:100%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
}

#password{
    width:65%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
}

#con-password{
    width:65%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
}

#contact{
    width:100%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
}

#email{
    width:65%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
}

#btn{
    float:left;
    width:70px;
    height: 35px;
    border: blue solid 1px;
    display:block;
    color: white;
    border-radius:5px;
    background-color: blue;
}

#btn-login{
    width:200px;
    height: 35px;
    border: blue solid 1px;
    display:block;
    color: white;
    border-radius:5px;
    background-color: blue;
}