@import "react-slideshow-image/dist/styles.css";

.slide-item-1 {
    background: rgba(0, 0, 0, 0.3) url("../images/secureyourenvironment.jpg") repeat scroll 0 0;
}

.slide-item-2 {
    background: rgba(0, 0, 0, 0.3) url("../images/tuneintoyourenvironment.jpg") repeat scroll 0 0;
    background-size: cover;
}

.slide-item-3 {
    background: rgba(0, 0, 0, 0.3) url("../images/stayonestepahead.jpg") repeat scroll 0 0;
}

.slide-item-4 {
    background: rgba(0, 0, 0, 0.3) url("../images/giveyourselfanedge.jpg") repeat scroll 0 0;
}

.falconet-main-caption{
    background: rgba(28, 28, 28, 0.49) none repeat scroll 0 0
}

.falconet-main-slide {
    background-color: #eee;
    background-position: center center;
    background-size:cover;
    height: 580px ;
    margin-top: 80px;
}

.falconet-main-caption{
    display: table;
    height: 100%;
    width: 100%;
}

.falconet-caption-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.slider-text{
    width: 60%;
}

.slider-text h2 {
    color: #fff;
    font-family: "Oswald",sans-serif;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.slider-text h2 span {
    display: block;
}

.slider-text p {
    color: #fff;
    font-size: 16px;
    margin: 20px 0;
    text-transform: capitalize;
}

.falconet-main-caption a {
    margin: 0 5px;
}

.slider-text{
    width:50%;
    margin-left:100px;
}

.falconet-btn{
    background-color: #f26723;
    border: #f26723 2px solid;
    padding:10px;
    text-decoration: none;
    color:white;
    text-transform:uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.falconet-btn:hover{
    background-color: transparent;
    border: #f26723 2px solid;
    color: white;
    text-decoration: none;
}

#Para-slide{
    font-weight: 500;
    font-size: 15px;
    width: 70%;
}

@media screen and (max-width: 768px){
    .falconet-slider-area{
        margin-top:180px;
    }

    #slide-container{
        width:100%;
        height:280px
    }

    .slider-text{
        margin-left: 40px;
        margin-top: -50px;
        width:70%
    }
    
    .slide-item-1{
        height: 400px;
    }

    .slide-item-2{
        height: 400px;
    }

    .slide-item-3{
        height: 400px;
    }

    .slide-item-4{
        height: 400px;
    }

    #slide-h2{
        font-size: 25px;
        text-align: justify;
    }

    #Para-slide{
        font-size: 15px;
    }

    .falconet-btn{
        font-size: 10px;
    }
}

@media screen and (max-width: 420px){
    #slide-container{
        width:100%;
        height:280px
    }

    .slider-text{
        margin-left: 40px;
        margin-top: -50px;
        width:70%
    }
    
    .slide-item-1{
        height: 350px;
    }

    .slide-item-2{
        height: 350px;
    }

    .slide-item-3{
        height: 350px;
    }

    .slide-item-4{
        height: 350px;
    }

    #slide-h2{
        font-size: 15px;
        text-align: justify;
    }

    #Para-slide{
        font-size: 10px;
    }

    .falconet-btn{
        font-size: 10px;
    }
}

