@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.falconet-testimonial-area {
    background: #212121 url("../images/testimonial-bg.jpg") repeat scroll 0 0;
    background-repeat: no-repeat;
    padding: 70px 0;
    text-align: center;
    position: relative;
    margin-top:100px;
}



.falconet-testimonial-area:before {
    background: rgba(0, 0, 0, 0.54) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.falconet-testimonial-area .single-testimonial {
    background: transparent none repeat scroll 0 0;
    padding: 20px;
    position: relative;
    height: 200px;
    
}

.falconet-testimonial-area .single-testimonial:before {
    bottom: 67px;
    color: #333;
    content: "";
    font-family: "FontAwesome";
    font-size: 50px;
    position: absolute;
    right: 39px;
}


/*.falconet-testimonial-area {
    background: #212121 none repeat scroll 0 0;
    background-image: url("../images/testimonial-bg.jpg");
    margin-top: 110px;
    height:500px;
}


.falconet-testimonial-area .single-testimonial {
    background: #212121 none repeat scroll 0 0;
    padding: 40px;
    position: relative;
    height: 250px;
}

.falconet-testimonial-area .single-testimonial:before {
    bottom: 67px;
    color: #333;
    content: "";
    font-family: "FontAwesome";
    font-size: 50px;
    position: absolute;
    right: 39px;
}
*/

.testimonial-slide {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    margin-right: 50px;
    margin-top: 10px;
}


.single-testimonial {
    color: #ccc;
}

.testimonial-text {
    border-bottom: 1px solid #f26723;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.testimonial-info {
    margin: 0 auto;
    width: 40%;
}

.info-img {
    float: left;
    margin-left: -20px;
}

.info-name {
    
    margin-top: -5px;
    text-align: left;
    line-height: 8px;
    float:right;
}
.info-img > img{
    border-radius: 50%
}
.info-name > h4 {
    color: #f26723;
    font-family: "Oswald",sans-serif;
    font-size: 18px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.site-heading-black{
    line-height: 5px;
    margin-top: 20px;
    
}

.test-h2{
    color: #f26723;
    text-align:right;
    font-size:30px;
    font-weight: 400;
    position: relative;
    padding-right: 300px;
    margin-top: -27px;
}

.test-h3{
    color: white;
    text-align:right;
    font-size:20px;
    padding-top: 20px;
    position: relative;
    padding-right: 310px;
    
}

.parag{
    font-family: Gabriola;
    font-size: 20px;
    letter-spacing: 1px;
    color: pink;
    line-height: 23px;
    font-weight: 400;
}

.para-tes{
    color: white;
    padding-top: 10px;
}








@media (max-width: 648px){
    .falconet-testimonial-area{
        clear:both;     
        height:500px;
        margin-top: 100px; 
    }

    .single-testimonial{
        height: 450px;
    }

    .parag{
        font-size: 15px;
    }

    .tes-head{
        clear: both;
        width:80%;
       
    }

    

    .para-tes{
        display:contents;
        clear: both;
    }

    .info-img{
        margin-left: 2px;
    }

    .info-name{
        line-height: 15px;
        margin-top:10px;
        height: 100px;
        
    }

    .testimonial-slide {
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }

    .testimonial-text {
        border-bottom: 1px solid #f26723;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .test-h3{
        font-size:15px;
        padding-top: 15px;
        position: relative;
        padding-right: 170px;
        text-align: right;
    }

    .test-h2{
        position: relative;
        padding-right: 140px;
        text-align: right;
    }

    
    
}
