.form-body{
    height: 690px;
    width:100%;
    background-color:#f4f4f4;
    margin:0;
    z-index: 10000;
    position: absolute;
}

.Form-img{
    float: left;
    width:30%;
    height: 100%;
    background-color: #f26723;
}

.FormImg{
    width:50px;
    height:25px;
    margin-top: 60px;
    margin-left: 40px;
}

.Formimg{
    float: right;
    margin-right: -130px;
    margin-top: 100px;
    border:  white solid 4px;
    border-radius: 50%;
    background-color: black;
    width: 400px;
    height: 350px;
}

.span-form{
    color: #f26723;
    font-family: Calibri;
    text-transform: uppercase;
}

.Form-gen{
    width:35%;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 300px;
    float: left;
}

.Form-login{
    width:35%;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 300px;
    float: left;
}

.head-form{
    text-align: center;
    font-family: Calibri;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: -60px;
}


.form{
    margin-top: -50px;
    width:100%;
    padding: 30px;
    margin-left: 5px;
}

.div-form{
    margin-top: 40px;
    padding-bottom: 30px;
}

.form-left{
    float:left
}

.form-left2{
    float:left;
    margin-top:-20px
}

.form-right{
    float:left;
    margin-left: -5px;
}

.form-right2{
    float:left;
    margin-left: 35px;
}

.clear-both{
    clear: both;
    margin-top: 20px;
}

.mail{
    clear: both;
    margin-top: 30px;
}

.confirm{
    clear: both;
    margin-top: 20px;
}

#name{
    width:85%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
}

#lastname{
    width:85%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
    margin-left: -10px;
}

#password{
    width:80%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
}

#con-password{
    width:80%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
}

#contact{
    width:85%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
}

#email{
    width:80%;
    display:block;
    border:solid 2px #f0f0f0;
    border-radius:5px;
    padding:10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 2px 2px 12px 2px rgba(0, 0, 0, 0.09);
}

fieldset{
    width:50%;

}

.Label{
    font-size: 13px;
}

.p-log{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    margin-left: -60px;
}

#btn{
    float:left;
    width:150px;
    height: 40px;
    border: #f26723 solid 1px;
    display:block;
    color: white;
    border-radius:5px;
    background-color: #f26723;
    cursor: pointer;
    margin-left: -45px;
}

#btn-login{
    width:79%;
    height: 35px;
    border: #f26723 solid 1px;
    display:block;
    color: white;
    border-radius:5px;
    background-color: #f26723;
    margin-top:20px;
    margin-bottom:20px;
    cursor: pointer;
}

.Login-link:hover{
    color: #f26723;
}

.Login-link{
    text-decoration: none;
    font-weight: 700;
    color: #f26723;
}

#p-log{
    margin-top: -40px;
}

.Reg-link{
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 768px){
    .form-body{
        width:100%;
    }

    fieldset{
        width:100%;
        height: 700px;
    }

    #name{
        width:100%
    }

    #lastname{
        width:100%;
        margin-left: 1px;
    }

    #email{
        width:100%
    }

    #password{
        width: 100%;
    }

    #con-password{
        width:100%
    }

    #contact{
        width:100%
    }

    .Form-img{
        width:20%;
    }

    .FormImg{
        width:40px;
        height:20px;
        margin-top: 60px;
        margin-left: 30px;
    }

    .Formimg{
        float: left;
        margin-left: 80px;
        margin-top: 100px;
        border:  white solid 2px;
        border-radius: 50%;
        background-color: black;
        width: 150px;
        height: 120px;
    }

    .Form-gen{
        width:50%;
        margin-top: -620px;
        margin-left: 250px;
        float: left;
    }

    .Form-login{
        width:70%;
        margin-top: -600px;
        margin-left: 200px;
        float: left;
    }

    #Form{
        width:70%
    }

    .form{
        margin-top: -80px;
    }
    
    .form-left, .form-left2{
        width:100%;
        margin-left: 70px;
    }

    .form-right, .form-right2{
        width:100%;
        margin-top: 10px;
        margin-left: 70px;
        clear: both;
    }

    .mail{
        width:100%;
        clear: both;
        margin-top: 90px;
        margin-left: 70px;
    }

    .clear-both{
        width:100%;
        clear: both;
        margin-top: 10px;
        margin-left: 70px;
    }

    .confirm{
        width:100%;
        clear: both;
        margin-top: 10px;
        margin-left: 70px;
    }

    #btn{
        width:100%;
        clear: both;
        margin-top: 15px;
        margin-left: 1px;
    }

    #btn-login{
        margin-top: 10px;
        margin-left: 70px;
        width:100%;
    }

    .p-log{
        padding-left: 100px;
        padding-top: 70px;
    }

    #p-log{
        margin-top: -70px;
        margin-left: -100px;
    }
}

@media screen and (max-width: 420px){
    .form-body{
        width:100%;
    }

    fieldset{
        width:90%;
        height: 700px;
    }

    #name{
        width:100%
    }

    .Form-img{
        width:20%
    }

    #Form{
        width:80%;
        margin-left:50px
    }

    .FormImg{
        width:40px;
        height:20px;
        margin-top: 90px;
        margin-left: 30px;
    }

    .Formimg{
        float: left;
        margin-left: 20px;
        margin-top: 100px;
        border:  white solid 2px;
        border-radius: 50%;
        background-color: black;
        width: 100px;
        height: 90px;
    }

    .Form-gen{
        width:70%;
        margin-top: -620px;
        margin-right: 100px;
        float: right;
    }

    .Form-login{
        width:80%;
        margin-top: -600px;
        margin-right: 100px;
        float: right;
    }

    .form-left, .form-left2{
        width:100%;
        margin-left: 70px;
    }

    .form-right, .form-right2{
        width:100%;
        margin-top: 10px;
        margin-left: 70px;
        clear: both;
    }

    .mail{
        width:100%;
        clear: both;
        margin-top: 90px;
        margin-left: 70px;
    }

    .clear-both{
        width:100%;
        clear: both;
        margin-top: 10px;
        margin-left: 70px;
    }

    .confirm{
        width:100%;
        clear: both;
        margin-top: 10px;
        margin-left: 70px;
    }

    #firstname{
        width: 100%
    }

    #lastname{
        width: 100%;
        margin-left: 1px;
    }

    #contact{
        clear: both;
        width: 100%
    }

    #password{
        width: 100%
    }

    #con-password{
        width: 100%
    }

    #btn{
        width:100%;
        clear: both;
        margin-top: 10px;
        margin-left: -1px;
    }

    #btn-login{
        width:100%
    }

    #email{
        width:100%
    }

    .p-log{
        padding-left: 160px;
        padding-top: 55px;
        font-size: 13px;    
    }

    #p-log{
        padding-left: 200px;
    }

    .head-form{
        text-align: center;
        padding-left: 200px;
        padding-top: 40px;
    }
}